@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #2563eb
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
}

.card {
  width: 100%;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);
  border-radius: 25px;
  padding: 35px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
}

.subtitle {
  text-align: center;
  color: #d1d5db;
  margin-top: 10px;
  margin-bottom: 25px;
}

.stats {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.stat-box {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 15px 25px;
  border-radius: 15px;
  font-weight: 600;
}

.input-section {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 16px;
  border: none;
  border-radius: 14px;
  font-size: 16px;
}

.input-section button {
  border: none;
  background: #2563eb;
  color: white;
  padding: 16px 22px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 600;
}

.input-section button:hover {
  transform: translateY(-2px);
}

.search-section input {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 14px;
  margin-bottom: 25px;
  font-size: 16px;
}

.notes-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.note-card {
  background: white;
  padding: 20px;
  border-radius: 18px;
  color: #1e293b;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}

.note-card:hover {
  transform: translateY(-5px);
}

.note-card p {
  font-size: 17px;
  word-wrap: break-word;
}

.note-card small {
  color: gray;
  margin-top: 10px;
}

.delete-btn {
  margin-top: 15px;
  border: none;
  background: #3ed9f1;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.empty {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: #d1d5db;
}

@media (max-width: 768px) {
  .input-section {
    flex-direction: column;
  }

  h1 {
    font-size: 2.2rem;
  }
}